/* =========================
   DESKTOP / LAPTOP (max-width: 1200px)
========================= */
@media (max-width: 1200px) {

    nav {
        padding: 0 40px;

    }

    nav ul li {
        margin: 0 16px;
    }

    .FirstSection {
        margin: 77px 0;
    }


    .leftSection {
        font-size: 1.8rem;
    }

    .rightSection img {
        margin: 45px 38px;
        max-width: 322px;
    }

    i.fa.fa-user {
        font-size: 22px;
    }



    /* FOOTER */

    .footer>div {
        width: 260px;
    }

    footer {

        margin-top: 155px;


    }

    div#contact h1 img {
        height: 58px;
        margin: 8px 28px;
    }

    .second li {
        font-size: 11px;
        display: flex;
    }

    .third ul li a {
        font-size: 14px;
    }

    main hr {
        margin: 145px 84px;
    }


    .vertical-desc {
        position: relative;
        top: 87px;
        color: grey;
        width: 141px;
        font-size: 10px;
    }
}

/* =========================
   TABLET (max-width: 1024px)
========================= */
@media (max-width: 1024px) {

    .leftSection .btn {

        font-size: 11px;
    }

    nav {

        padding: 0 51px;
    }

    nav {
        justify-content: space-between;
    }


    .secondSection .box {
        flex-wrap: wrap;
    }


    .rightSection img {
        margin: 20px auto;
    }

    .secondSection {
        height: auto;
    }

    .secondSection .vertical {
        margin: 0 95px;
    }

    main hr {
        margin: 358px 84px;
    }

    footer {
        margin-top: 406px;

    }

    .footer-text-center {
        font-size: 4px;
    }


    footer>div {
        font-size: 14px;
    }

    .image-top {
        width: 20px;
        top: -21px;
    }

    .secondSection .vertical {
        height: 87px;
    }

    .secondSection h2 {
        font-size: 21px;
    }

    nav ul li {
        margin: 0 11px;
    }

    nav ul {
        font-size: 14px;
        padding-right: 26px;
    }

    .left {
        font-size: 1.2rem;
        padding-left: 20px;
    }

    i.fa.fa-user {
        font-size: 19px;
    }

    .FirstSection>div {
        width: 40%;
    }

    .leftSection .countercontainer span {
        font-size: 3rem;
    }

    div#contact h1 img {
        margin: 8px 102px;
    }

    .third ul li a {
        font-size: 11px;
    }

    .company {
        font-size: 9px;
    }

}


/* =========================
   MOBILE (max-width: 768px)
========================= */


@media (max-width: 768px) {

     body {
    background-color: rgb(11 33 76);
  }


    main hr {
        margin: 543px 84px;
    }

    nav {
        padding: 0 10px;
    }

    .menu .onDesktop {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .FirstSection {

        padding: 0 28px;
    }


    .FirstSection>div {
        width: 100%;
        padding: 0;
    }

    .rightSection img {
        margin: auto;
    }

    .leftSection {
        font-size: 1.4rem;
    }

    .leftSection .btn {
        display: inline-block;
        font-size: 12px;
        margin: 10px 5px;
    }

    .secondSection {
        height: auto;
        padding: 20px;
        width: 100%;
    }

    .secondSection .box {
        flex-direction: column;
        align-items: center;
    }

    .secondSection .vertical {

        height: 90px;
    }

    .vertical-title {

        width: 67px;
        font-size: 11px;
        ;
    }

    .date {

        font-size: 8px;

    }

    .vertical-desc {

        width: 72px;
        font-size: 9px;
    }

    .image-top {
        top: -22px;
        left: -8px;
    }

    #contact {
        flex-direction: column;
    }

    #contact h1 img {
        margin: 10px auto;
        display: block;
    }

    footer {
        margin-top: 484px;
    }

    /* TEXT SIZE ADJUST */
    .footer h1 {
        font-size: 1.2rem;
    }

    .footer ul li a {
        font-size: 10px;
    }

    .footer-text-center {
        font-size: 10px;
        padding-top: 386px;
        width: 100%;
    }

}






/* =========================
   SMALL MOBILE (max-width: 480px)
========================= */
@media (max-width: 480px) {

    main hr {
        margin: 936px 84px;
    }

    .left {
        font-size: 1rem;
    }

    .leftSection {
        font-size: 1rem;
    }

    .leftSection .btn {
        font-size: 6px;

    }

    .leftSection .countercontainer span {
        font-size: 2rem;
    }

    .vertical-title {
        font-size: 8px;
    }

    .vertical-desc {
        font-size: 10px;
        width: 100%;
        text-align: center;
    }

    .image-top {
        width: 16px;
    }

    .sidebar {
        width: 220px;
        height: 100vh;
    }

    .secondSection .vertical {
        width: 2px;
        height: 90px;
        height: 82px;
        margin: 3px 0;
    }

    .secondSection h2 {
        font-size: 25px;
        margin-bottom: 42px;
    }

    footer {
        margin-top: 651px;
    }

    .date {
        font-size: 6px;
    }

    .footer-text-center {
        font-size: 3px;
        width: 100%;
    }
}